@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    /* background: url(../assets/nubelson-fernandes-Y376h7VN27c-unsplash.jpg); */
    font-family:'Poppins';
    background-color:#0E0D14;
    max-width: 100%;
    overflow-x: hidden;
    /* background-position: center; */
}
a{
    text-decoration: none;
    color: aliceblue;
}
.header .logo h3{
    color: aliceblue;
}
.header .menu-bar{
    display: none;
}
.header{
    width: 90%;
    margin: 1em auto;
    /* height: 70px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background: transparent;
    align-items: center;
     /* justify-content: center; */
}


.nav-bar .nav-items{
    display: flex;
    flex-direction: row;
    padding: 1em 1em;
}
.nav-items .nav-item{
    padding: 0em 1.5em;
    font-size: 1.3rem;
}
ul .nav-item a{
    text-decoration: none;
    color: aliceblue;
}
ul .nav-item a:hover{
    color: rgb(0, 255, 34);
}
ul .nav-item .active  {
    color:rgb(0, 255, 34);
}

.title{
    text-align: center;
    color: aliceblue;
    padding: 0.5em;
}
.cards{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}
.card{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0em;
    background:linear-gradient(-45deg, #DCE6FA ,#F9F9F9);
    border-radius: 15px;

}
.card .image {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card .image img{
    width:90%;
    transition: transform 0.5s;
    
}
.image img:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.separator{
    width: 90%;
    background-color:black;
    height: 2px;
    margin-top: 2em;
    
    
}
.card .project-title{
    
    font-size: 1.5rem;
    padding: 0.5em 1em;
    margin-top: 0.3em;
    
}
.buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.buttons button{
    width: 40%;
    padding: 0.8em 1.25em;
    font-size: 1.2rem;
    border: none;
    background-color: #0E0D14;
    border-radius: 7px;
    color:aliceblue;
}
.buttons button:hover{
    background:transparent;
    /* border: 2px solid #252726; */

}
.buttons button:hover a{
    text-transform: uppercase;
    /* transition: 5s ease-in-out; */
    
    color: #0E0D14;

}
@media screen and (max-width:700px){
    .nav-bar{
        width: 90%;
        margin: 1em auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        display: none;


    }
    .cards{
        width: 90%;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .card{
        margin: 1em;
        width: 70%;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

    }
    .buttons button{
        width: 80%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    /* .nav-bar .menu-bar{
        display: block;
    } */
    .header .nav-items{
        display: none;
    }
    .header .menu-bar{
        display: block;
        position: absolute;
        top: 2em;
        right: 2em;
    }

}